@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

.grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas: 
        "navBar  navBar"
        "sidebar  main"
        "sidebar  main";
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    max-width: 100vw;
}
body{
    width: 100vw;
}

nav {
    top: 0;
    /* position: sticky; */
    grid-area: navBar;
  
}

aside {
    top: 83px;
    /* position: sticky; */
    align-self: start;
    height: 100% ;
    grid-area: sidebar;
    background-color: rgba(0, 0, 0, 0.85); /* Transparent gray background */
    color: white;
    /* padding: 20px; */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Added smooth transition for transform and opacity */
    opacity: 100%; /* Initially hidden */
    backdrop-filter: blur(6px);
}

main {
    grid-area: main;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.85), 0 0 1px rgba(0, 0, 0, 0.85), 0 0 20px rgba(0, 0, 0, 0.85);
    padding: 2rem;
}

nav p{    
    font-family: "Akronim", system-ui;
    font-weight: 400;
    font-style:normal;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.85), 0 0 20px rgba(0, 0, 0, 0.85), 0 0 30px rgba(0, 0, 0, 0.85); 
    
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    font-size: 2rem;
    padding: 1rem;
    gap: 1rem;
    color: white;
    background-color: black;
    width: 98vw;
    
}

.nav-button{
  margin-right: 1rem;
  padding: 10px 25px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
 
  transition: 0.5s ease;
  user-select: none;
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 10px #008cff, 0 0 20px #008cff,
    0 0 50px #008cff;
}

.nav-button:hover,
:focus {
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  box-shadow: none;
  
}

.HomeLogo:hover{
    color: white;
    background-color: black;
    
}

.HomeLogo{
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
    border: 1px solid #008cff;
    background: #008cff;
    color: #fff;
    transition: 0.5s ease;
    user-select: none;
}
.ReLogo:hover{
    color: black;
    /* background-color: #fff; */
    transition: 0.5s ease;
    user-select: none;
}
.ReLogo{
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px tomato, 0 0 20px tomato, 0 0 50px tomato,
      0 0 100px tomato;
    border: 1px solid tomato;
    background: tomato;
    color: #fff;
    transition: 0.5s ease;
    user-select: none;
}

.nav-logo{
    font-size: 3rem;
  
   
}

.logo  {
    display: none;
}
.userLogo:hover{
    color: black;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.5s ease;
    user-select: none;
}
.userLogo{
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
    border: 1px solid #008cff;
    border-radius: 50%;
    background: #008cff;
    color: #fff;
    transition: 0.5s ease;
    user-select: none;
}
.aside-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    font-size: 3rem;
}



/* Ensure body takes up full height and doesn't scroll */
body {
    
    overflow-x: hidden; /* Prevent body from scrolling */
}

/* Main content container */
.main-container {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(6px);
    color: #fff;
    transition: 0.5s ease;
    user-select: none;
    scrollbar-color: transparent transparent;
    /* width: 1400px; */
    width: 85vw;
    height: 210px;
    white-space: nowrap;
    text-align: center;
    display: flex;
    gap: 1rem;
    margin: 1rem;
    /* background-color: #008cff; */
    padding: 1rem;
    /* flex-wrap: wrap; */
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    box-shadow: 10px 25px 10px rgba(0, 0, 0, 0.2);
}

/* Individual movie cards */
.card {
    
    text-align: center;
    border-radius: 8px;
    
    transition: transform 0.2s;
    float: none;
    height: 100%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}

.card img {
    border-radius: 8px; /* Optional: Round the image corners */
}

.card:hover {
    transform: scale(1.05); /* Optional: Scale up the card slightly on hover */
}


.main-container img{
    border-radius: 1rem;
}

.details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
  
}

.similar-movies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2rem 0;
    width: 90%;
    border-radius: 2rem;
    
}

.similar-movies img {
    height: 200px;
    width: 200px;
}


.details-container hr{
    border: 2px solid rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.85), 0 0 10px rgba(0, 0, 0, 0.85), 0 0 25px rgba(0, 0, 0, 0.85),
    0 0 50px rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(6px);
    margin-top: 1rem;
}

.similar-container{
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    overflow: hidden;
    width: 200px;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff; 
}

.first-section{
    max-width:  45%;
    text-align: center;
    margin-top: 1rem;
}

.movieDetail-card h3 p{
  font-family:monospace;
}
.second-section{
    min-width: 45%;
    max-width: 45%;
}

.first-section h6{
    text-align: start;
    font-size: 1.5rem;
    text-shadow: 0 0 5px  rgba(0, 0, 0, 0.85), 0 0 10px  rgba(0, 0, 0, 0.85), 0 0 20px  rgba(0, 0, 0, 0.85);
    font-weight: 100;
    /* text-decoration: underline; */
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.85);
    padding: 0.6rem;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    backdrop-filter: blur(6px);
    border-radius: 3rem;
    text-shadow: 0 0 10px #3b0347e9, 0 0 20px #3b0347e9, 0 0 50px #3b0347e9; 
}

.movieDetail-card{
    /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 2), 0 0 20px rgba(0, 0, 0, 2), 0 0 50px rgba(0, 0, 0, 2),
      0 0 100px rgba(0, 0, 0, 2);
      border: 1px solid rgba(0, 0, 0, 0.2);
      /* border-radius: 50%; */
      background-color: rgba(0, 0, 0, 0.85);
      color: #fff;
      line-height: 2rem;
      max-width: 80%;
      /* height: 500px; */
      margin-left: 0.5rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
      border-radius: 2rem;
}

.movieDetail-card img{
    object-fit: cover;
    width: 90%;
}

.moviesButton{
    color: #ffffff;
  background: tomato;
  border: 1px solid tomato;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px tomato, 0 0 10px tomato, 0 0 25px tomato,
    0 0 50px tomato;
    padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 15px;
  margin: 1rem;
    
}

.moviesButton:hover{
  color: black;
  text-shadow: none;
  background: #ffffff80;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
  box-shadow: 0 0 5px#ffffff80, 0 0 10px #ffffff80, 0 0 25px #ffffff80,
  0 0 50px #ffffff80;
}



.cast-Card{
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(6px);
    color: #fff;
    transition: 0.5s ease;
    user-select: none;
    scrollbar-color: transparent transparent;
    border-radius: 2rem;
    width: 80%;
    /* height: 210px; */
    white-space: nowrap;
    text-align: center;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    box-shadow: 10px 25px 10px rgba(0, 0, 0, 0.2);
}

.similar-container:hover{
    transform: scale(1.05);
    transition: 0.4s ease;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;  
    
  }

  .modal-content p{
    font-size: 1.3rem;
  }
  
  .modal-content {
    background-color: rgba(0, 0, 0, 0.7);
    /* filter: blur(1px); */
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    color: white;
    border-radius: 2rem;
    height: 40vh;
  }
  
  .stars {
    font-size: 30px;
    margin: 10px 0;
  }

  
  .filled-star {
      color: gold;
      cursor: pointer;
    }
    
    .empty-star {
        color: lightgray;
        cursor: pointer;
    }
    
    textarea {
        color: black;
        width: 90%;
        height: 30%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        
        background-color: white;
        
    }
    
    .reviewTextBox{
        box-shadow: none;
        text-shadow: none;
        background-color: #ccc;
        color: black;
    }
    
    .starss{    
          display: flex;
          flex-direction: row;
          gap: 5px;
          font-size: 20px;
          color: gold;  
          flex-wrap: wrap; 
          border: 1px solid black;
          background-color: black;
          padding: 0px 10px; 
          border-radius: 1rem;
          box-shadow: 0 0 2px#ffffff80, 0 0 5px #ffffff80, 0 0 15px #ffffff80,
          0 0 15px #ffffff80;
          margin-left: 2rem;  
          height: fit-content;
          padding: 0.5rem;
    }
  .modal-actions button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3rem;
  }
 
    textarea:hover{
        background-color: #fff;
        color: black;
    }
  
  
  .modal-actions button:hover {
    background-color: #0056b3;
  }

  .userIcon{
    box-shadow: 0 0 2px#ffffff80, 0 0 5px #ffffff80, 0 0 15px #ffffff80,
          0 0 20px #ffffff80;
          border-radius: 50%;
    font-size: 2rem; 
     
  }

  .review-user{
    display: flex;
    justify-content: space-between;
  }

  .review-card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid black;
    margin: 1rem;
    /* flex-wrap: wrap; */
    padding: 1rem;
    width:70%;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ccc;
    border-radius: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 2), 0 0 20px rgba(0, 0, 0, 2), 0 0 50px rgba(0, 0, 0, 2),
      0 0 100px rgba(0, 0, 0, 2);
      height: 200px;
      
      
  }

  .review-content{
    overflow-x: scroll;
      scrollbar-width:none;
  }

  .userPara{
    font-size: 1.2rem;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black;
    color:teal;
  }

  .review-user{
    display: flex;
    gap: 1rem;
    flex-direction: row;
   
    /* text-align: center; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    
  }

  /* Review section */

  .review-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    
    
  }
 .reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
   
 }
 .box-section{
    display: flex;
    gap: 1rem;
    text-align: center;
    margin: 0.5rem;
    

 }
  .reviewMainDiv{
    width: 300px;
    height: 250px;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: black;
    overflow-y: hidden;
    color: white;
    padding: 1rem;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 2), 0 0 10px rgba(0, 0, 0, 2), 0 0 25px rgba(0, 0, 0, 2),
      0 0 50px rgba(0, 0, 0, 2);
  }

  .userName{
    color: gold;
    text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold;
  }

  .box-section p{
    font-weight: 500;
  }

  .review-stars{
    display:flex;
    margin: 5px;
    width:max-content;
    gap: 5px;
    font-size: 20px;
    color: gold; 
    margin: 1rem 1rem 1rem 0; 
    flex-wrap: wrap; 
    border: 1px solid black;
    background-color: black;
    padding: 0px 10px; 
    border-radius: 1rem;
    box-shadow: 0 0 2px#ffffff80, 0 0 5px #ffffff80, 0 0 15px #ffffff80,
     0 0 15px #ffffff80;
    
  }

  .revHeading{
    text-align: center;
    color:slateblue;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85), 0 0 10px rgba(0, 0, 0, 0.85), 0 0 20px rgba(0, 0, 0, 0.85);
  }

  .reviewTextBox{
    cursor:auto;
  }
  
  
@media(max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "navBar  navBar"
            "main  main"
            "main  main";
    }

    .logo {
        display: inline;
        cursor: pointer;
    }

    aside {
        position: fixed;
        width: 150px;
        height: 100vh; 
        /* top: 0; */
        /* left: 0; */
        /* bottom: 0; */
        z-index: 100;
        opacity: 0; /* Initially hidden */
        
    }  

    .show {
        opacity: 1; /* Make sidebar visible */
        
    }
}

@media(min-width: 800px) and (max-width: 1200px) {
    .main-container{
      width: 55vh;
      margin-left: 0%;
    }

    aside{
      width: 80%;
    }

    .details-container{
      justify-content: flex-start
    }

    .main-container img{
      height: 150px;
      width: 130px;
      margin-top: 1rem;
    }

    .first-section{
      width: 40vw;
      margin-left: 0%;
    }

    .movieDetail-card{
      height: fit-content;
    }

    .movieDetail-card img {
      height: 15vh;
    }

    .movieDetail-card h3 {
      font-size: 0.8rem;
    }

    .movieDetail-card p {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }

    .movieDetail-card button {
      font-size: 0.7rem;
      box-shadow: 0 0 2px tomato, 0 0 5px tomato, 0 0 10px tomato,
      0 0 20px tomato;
      
    }

    .modal{
      position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 50%;
    }

    .modal-content{
      height: fit-content;
    }

    .first-section h6{
      font-size: 0.8rem
    }

    .cast-Card img{
      height: 50px;
      width: 50px;
    }

    .cast-Card{
      height: 80px;
      margin-top: 0.5rem;
    }

    .cast-name{
      font-size: 0.5rem !important;
    }
    .cast-job{
      font-size: 0.5rem !important;
     
    }
    
    .second-section{
      width: 50%;
      
    }

    .review-card{
      height: 250px;
    }

    .userIcon{
      font-size: 3rem;
      height: fit-content;
    }

    .userPara{
      font-size: 1rem;
    }

    .starss{
      width: 50%;
      padding-top: 0.5rem;
      font-size: 0.8rem;
    }
    .review-content p{
      font-size: 1rem !important;
    }

  
    .reviews{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      width: 90%;
      margin-left: 5px;
    }

    

    .reviewMainDiv{
      width: 280px;
      height: 300px;
      
    }
}

@media(min-width: 690px) and (max-width: 800px){
    .main-container{
      width: 65vh;
      margin-left: 0%;
      height:fit-content;
      font-size: 0.7rem;
    }

    .main-container img{
      height: 120px;
      width: 120px;
      margin-top: 1rem;
    }

    main{
      margin-left:2rem ;
    }

    .nav-logo{
      font-size: 2rem;
    }
    nav p{
      font-size: 1.8rem;
      
    }

    .nav-bar button{
      font-size: 1rem;
      width: 110px;
      text-align: center;
    }


    .first-section{
      width: 50vw;
      margin-left: 10px;
      margin-right: 0%;
    }

    .movieDetail-card{
      height: fit-content;
      width: 100%;
    }

    

   

    .movieDetail-card{
      height: fit-content;
    }

    .movieDetail-card img {
      height: 15vh;
    }

    .movieDetail-card h3 {
      font-size: 0.8rem;
    }

    .movieDetail-card p {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }

    .movieDetail-card button {
      font-size: 0.7rem;
      box-shadow: 0 0 2px tomato, 0 0 5px tomato, 0 0 10px tomato,
      0 0 20px tomato;
      
    }

    
    .modal{
      position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 50%;
    }

    .modal-content{
      height: fit-content;
    }

    .first-section h6{
      font-size: 0.8rem
    }

    .cast-Card img{
      height: 80px;
      width: 80px;
    }

    .cast-Card{
      height: 110px;
      margin-top: 0.5rem;
    }

    .cast-name{
      font-size: 0.5rem !important;
    }
    .cast-job{
      font-size: 0.5rem !important;
     
    }

    .second-section{
      width: 50%;
      
    }

    .review-user{
      /* width: 100%; */
      display: flex;
      flex-direction: row;
    }

    .review-card{
      height: 250px;
    }

    .userIcon{
      font-size: 3rem;
      height: fit-content;
    }

    .userPara{
      font-size: 0.8rem;
    }

    aside{
      width: 90px;
    }

    .starss{
      width: 50%;
      margin-left: 0%;
      justify-content: center;
      padding-top: 0.5rem;
      font-size: 0.8rem;
      
    }
    .review-content p{
      font-size: 1rem !important;
    }

    .similar-movies{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    .similar-container{
      width: 100%;
     
    }

    .similar-container img {
      width: 100%;
      height: 100px;
      
    }

    .reviews{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      width: 90%;
      margin-left: 1.5rem;
    }

    

    .reviewMainDiv{
      width: 280px;
      height: 300px;
      
    }



} 

@media(min-width: 440px) and (max-width: 690px){
    .main-container{
      width: 75vh;
      margin-left: 0%;
      height:fit-content;
      font-size: 0.7rem;
    }

    .main-container img{
      height: 100px;
      width: 100px;
      margin-top: 1rem;
    }

    .logo{
      font-size: 1.5rem;
    }

    main{
      margin-left: 2rem;
    }

    aside{
      width: 80px;
    }

    .nav-logo{
      font-size: 1.5rem;
    }
    nav p{
      font-size: 1.4rem;
      
    }

    .nav-bar button{
      font-size: 0.7rem;
      width: 80px;
      padding-left: 22%;
      text-align: center;
    }

    .details-container{
      display: flex;
      flex-direction: column;
      width: 100vw;
    }

    .first-section{
      max-width:  100%;
      margin-left: 2rem;
     
      margin-right: 0%;
    }

    .movieDetail-card{
      height: fit-content;
      width: 100%;
    }

    .movieDetail-card h3{
      font-size: 1.1rem;
      font-family:monospace;
    }

    .movieDetail-card img {
      height: 200px;
      /* width: 100%; */
    }

    .modal{
      position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 50%;
    }

    .modal-content{
      height: fit-content;
    }

    .similar-movies{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    .similar-container{
      width: 150px;
     height: 150px;
     margin-left: 1rem;
     
    }

    .similar-container img{
     width: 150px;
     height: 150px;
     
    }

    .second-section{
      
      max-width: 100%;
    }
    
}


@media(min-width: 332px) and (max-width: 440px){
  .main-container{
    width: 49vh;
    margin-left: 0%;
    height:fit-content;
    font-size: 0.6rem;
  }

  

  .main-container img{
    height: 100px;
    width: 90px;
    margin-top: 1rem;
  }

  .logo{
    font-size: 1.5rem;
  }

  aside{
    width: 70px;
  }
  
  main{
    margin-left: 1rem;
  }

  .Logo{
    height: 2rem;
    width: 2rem;
  }

  .nav-logo{
    font-size: 1.5rem;
  }
  nav p{
    font-size: 1.4rem;
    
  }

  .nav-bar button{
    font-size: 0.7rem;
    width: 80px;
    padding-left: 22%;
    text-align: center;
   
  }

  .details-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .first-section{
    max-width:  100%;
    margin-left: 2rem;
   
    margin-right: 0%;
  }

  .movieDetail-card{
    height: fit-content;
    width: 100%;
  }

  .movieDetail-card h3{
    font-size: 1.1rem;
    font-family:monospace;
  }

  .movieDetail-card img {
    height: 200px;
    /* width: 100%; */
  }

  .modal{
    position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 50%;
  }

  .modal-content{
    height: fit-content;
  }

  .similar-movies{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .similar-container{
    width: 150px;
   height: 150px;
   margin-left: 1rem;
   
  }

  .similar-container img{
   width: 150px;
   height: 150px;
   
  }

  .second-section{
    
    max-width: 100%;
  }

  .userPara{
    font-size: 1rem;
  }
}
